WX_API_KEY=your_ibm_cloud_api_key_here
WX_PROJECT_ID=your_watsonx_project_id_here
WX_MODEL_ID=mistralai/mistral-small-3-1-24b-instruct-2503
WX_URL=https://us-south.ml.cloud.ibm.com/ml/v1/text/chat?version=2023-05-29
